body {
    width: 1920px;
    height: 6970px;
}

.background1 {
    position: relative;
    background-image: url(./img_page1/bg_photo1.png);
    width: 1920px;
    height: 1024px;
    background-color: rgba(17, 17, 17, 0.7);
}

.logo {
    position: absolute;
    background-image: url(./img_page1/logo.png);
    width: 64px;
    height: 56px;
    top: 65px;
    left: 350px;
}

.logo_name {
    position: absolute;
    font-family: 'Raleway';
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    top: 70px;
    left: 410px;
}

.basket {
    position: absolute;
    background-image: url(./img_page1/icon_cart.png);
    right: 380px;
    top: 75px;
    width: 18px;
    height: 24px;

}

.search {
    position: absolute;
    background-image: url(./img_page1/icon_search.png);
    right: 330px;
    top: 75px;
    width: 24px;
    height: 24px;
}

ul {
    list-style: none;
    padding-left: 770px;
    padding-top: 80px;
}

li {
    display: inline;
    padding-right: 30px;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.menu {
    color: #c7b299;
}

.content {
    position: relative;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 220px;
    text-align: center;
}

h1 {
    margin-top: 3px;
    margin-bottom: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
}

h3 {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.slider-left {
    position: absolute;
    left: 150px;
    top: 350px;
    background-image: url(./img_page1/left.png);
    width: 40px;
    height: 73px;
    opacity: 0.5;

}

.slider-right {
    position: absolute;
    right: 150px;
    top: 350px;
    background-image: url(./img_page1/right.png);
    width: 40px;
    height: 73px;
}

.button {
    position: absolute;
    left: 880px;
    top: 480px;
    width: 170px;
    height: 53px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    text-align: center;
}

#get_started {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
}

.radio1 {
    position: absolute;
    background-image: url(./img_page1/icon_radio.png);
    width: 11px;
    height: 11px;
    left: 920px;
    top: 870px;
    opacity: 0.5;
}

.radio2 {
    position: absolute;
    background-image: url(./img_page1/icon_radio2.png);
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.0);
    left: 937px;
    top: 868px;
}

.radio3 {
    position: absolute;
    background-image: url(./img_page1/icon_radio.png);
    width: 11px;
    height: 11px;
    left: 958px;
    top: 870px;
    opacity: 0.5;
}

.radio4 {
    position: absolute;
    background-image: url(./img_page1/icon_radio.png);
    width: 11px;
    height: 11px;
    left: 976px;
    top: 870px;
    opacity: 0.5;
}

.radio5 {
    position: absolute;
    background-image: url(./img_page1/icon_radio.png);
    width: 11px;
    height: 11px;
    left: 994px;
    top: 870px;
    opacity: 0.5;
}

.conteiner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 1200px;
    height: 750px;
    margin-left: 350px;
}

.conteiner > div {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555555;
}

.h4_click {
    color: #c7b299;
}

.pencil {
    background-image: url(./img_page1/icon_pencil.png);
    width: 49px;
    height: 49px;
    margin-left: 130px;
    color: #555555;
}

.book {
    background-image: url(./img_page1/icon_book.png);
    width: 44px;
    height: 40px;
    margin-left: 130px;
    color: #c7b299;
}

.custom {
    background-image: url(./img_page1/icon_custom.png);
    width: 44px;
    height: 44px;
    margin-left: 120px;
    color: #555555;
}

.bag {
    background-image: url(./img_page1/icon_bag.png);
    width: 52px;
    height: 36px;
    margin-left: 120px;
    color: #555555;
}

.line {
    background-image: url(./img_page1/line.png);
    width: 70px;
    height: 3px;
    margin-left: 110px;
    background-color: #f1eee9;
}

.line_click {
    background-image: url(./img_page1/line_click.png);
    width: 70px;
    height: 3px;
    margin-left: 110px;
    background-color: #c7b299;
}

.background2 {
    margin-top: 80px;
    width: 1920px;
    height: 700px;
    background-color: #fbfaf8;
}

.header2 {
    font-family: 'Raleway',sans-serif;
    text-align: center;
    padding-top: 70px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.page2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.wrapper {
    position: relative;
}

.browser_left {
    background-image: url(./img_page2/browser_left.png);
    position: relative;
    z-index: 10;
    width: 770px;
    height: 400px;
    left: 370px;
    top: 100px;
}

.browser_right {
    background-image: url(./img_page2/browser_right.png);
    position: absolute;
    z-index: 11;
    width: 770px;
    height: 400px;
    left: 830px;
    top: 100px;
}

.browser_center {
    background-image: url(./img_page2/browser_center.png);
    position: absolute;
    z-index: 12;
    width: 770px;
    height: 482px;
    left: 600px;
    top: 18px;
}

.footer_page2 {
    position: relative;
    width: 1920px;
    height: 150px;
    top: 72px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.footer2 span {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.footer2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    margin-left: 410px;
    margin-bottom: 3px;
    padding-top: 35px;
    color: #ffffff;
}

.down {
    font-family: 'Montserrat', serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    margin-left: 410px;
    margin-top: 0;
    color: #615855;
}

.button2 {
    position: absolute;
    left: 1400px;
    top: 40px;
    width: 170px;
    height: 50px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    text-align: center;
}

#purchase_now {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
}

.header3 {
    font-family: 'Raleway', serif;
    text-align: center;
    padding-top: 190px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.page3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.menu2 {
    list-style: none;
    padding-left: 700px;
    padding-top: 30px;
}

.button3 {
    display: inline;
    width: 120px;
    height: 32px;
    margin-right: 6px;
    padding: 6px 21px 6px 21px;
    background-color: rgba(17, 17, 17, 0.0);
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.cells {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
}

.button4 {
    display: inline;
    width: 70px;
    height: 32px;
    margin-right: 6px;
    padding: 6px 25px 6px 25px;
    background-color: #998675;
    border-radius: 3px;
}

.conteiner2 {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 350px;
    margin-top: 50px;
    margin-left: 410px;
}

.conteiner2 > div {
    width: 370px;
    height: 340px;
    left: 370px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}


.orign {
    position: absolute;
    left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
}

.orign_click {
    position: absolute;
    left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.text {
    position: absolute;
    width: 370px;
    height: 100px;
    padding-top: 0;
    background-color: #fbfaf8; 
}

.text_click {
    position: absolute;
    width: 370px;
    height: 100px;
    padding-top: 0;
    background-color: #362f2d;
}

.flex {
    position: absolute;
    left: 30px;
    top: 35px;
}


.phone {
    position: relative;
    background-image: url(./img_page3/bg_photo_1.png);
    width: 370px;
    height: 237px;
    background-color: #8c8c8c;
}

.arrow1 {
    display: inline;
    position: absolute;
    background-image: url(./img_page3/arrow_1.png);
    width: 30px;
    height: 10px;
    top: 2768px;
    left: 430px;   
}

.dedicated {
    position: relative;
    background-image: url(./img_page3/bg_photo_2.png);
    width: 370px;
    height: 237px;
    background-color: rgba(17, 17, 17, 0.7);
}

.graphic {
    position: absolute;
    left: 30px;
    top: 35px;
    color: #c7b299;
}

.arrow_brown {
    display: inline;
    position: absolute;
    background-image: url(./img_page3/arrow_2.png);
    width: 30px;
    height: 10px;
    top: 2769px;
    left: 830px;
}

.link {
    position: absolute;
    background-image: url(./img_page3/link_10955.png);
    width: 26px;
    height: 26px;
    left: 955px;
    top: 2640px;
}

.lupa1 {
    position: absolute;
    background-image: url(./img_page3/lupa_1.png);
    width: 26px;
    height: 25px;
    top: 2640px;
    left: 1010px;
}

.notebook {
    background-image: url(./img_page3/bg_photo_3.png);
    width: 370px;
    height: 237px;
    background-color: #8c8c8c;
}

.arrow2 {
    display: inline;
    position: absolute;
    background-image: url(./img_page3/arrow_1.png);
    width: 30px;
    height: 10px;
    top: 2769px;
    left: 1230px;   
}

.conteiner3 {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 350px;
    margin-top: 20px;
    margin-left: 410px;
}
    
.conteiner3 > div {
    width: 370px;
    height: 340px;
    left: 370px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}

.nature {
    position: relative;
    background-image: url(./img_page3/bg_photo_4png.png);
    width: 370px;
    height: 237px;
    background-color: #8c8c8c;
}

.arrow3 {
    display: inline;
    position: absolute;
    background-image: url(./img_page3/arrow_1.png);
    width: 30px;
    height: 10px;
    top: 3139px;
    left: 430px;   
}

.magazine {
    position: relative;
    background-image: url(./img_page3/bg_photo_5.png);
    width: 370px;
    height: 237px;
    background-color: #8c8c8c;
}

.arrow4 {
    display: inline;
    position: absolute;
    background-image: url(./img_page3/arrow_1.png);
    width: 30px;
    height: 10px;
    top: 3139px;
    left: 830px;   
}

.sea {
    position: relative;
    background-image: url(./img_page3/bg_photo_6.png);
    width: 370px;
    height: 237px;
    background-color: #8c8c8c;
}

.arrow5 {
    display: inline;
    position: absolute;
    background-image: url(./img_page3/arrow_1.png);
    width: 30px;
    height: 10px;
    top: 3139px;
    left: 1230px;   
}

.button5 {
    width: 170px;
    height: 50px;
    margin-top: 30px;
    margin-left: 900px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
}

#load_more {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    margin-left: 40px;
    padding-top: 15px;
    text-transform: uppercase;
    color: #ffffff;
}